<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">

	<test name="FUNC">
		<packages>
			<package name="domibus.ui.functional.*" />
		</packages>
	</test>

	<test name="UX">
		<packages>
			<package name="domibus.ui.ux.*"/>
		</packages>
	</test>

	<listeners>
		<listener class-name="utils.customReporter.ExcelReportReporter" />
	</listeners>
</suite>