<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- pattern definition -->
    <property name="encoderPattern" value="%d{ISO8601} [%thread] %5p %c{2}:%L - %m%n" scope="global"/>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>target/logs/selenium_ui.log</file>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>SECURITY</marker>
                <marker>BUSINESS</marker>
            </evaluator>
            <onMismatch>NEUTRAL</onMismatch>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>
            <pattern>${encoderPattern}</pattern>
        </encoder>
    </appender>


    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>${encoderPattern}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="file"/>
        <appender-ref ref="stdout"/>
    </root>
	
</configuration>