<div style="height: calc(100% - 15px);">
  <page-header id="pmodeheader_id" style="margin: 0px;">PMode - Archive</page-header>

  <div class="panel full-height">
    <grid-header [parent]="this"></grid-header>

    <div style="height: calc(100% - 140px); overflow-y: auto; overflow-x: hidden;">
      <page-grid [parent]="this" [selectionType]="'multi'"></page-grid>
    </div>

    <ng-template #descriptionTpl let-row="row" let-value="value" ngx-datatable-cell-template>
      <span class="text-select">{{value}}</span>
    </ng-template>

    <ng-template #rowWithDateFormatTpl let-row="row" let-value="value" ngx-datatable-cell-template>
      <span class="text-select">{{value| domibusDate}}</span>
    </ng-template>

    <ng-template #rowActions let-row="row" let-value="value" ngx-datatable-cell-template>
      <button mat-icon-button color="primary" id="deleteButtonRow{{rows.indexOf(row)}}_id" tooltip="Delete"
              [disabled]="row.current" (click)="deleteArchiveAction(row)" button-click-behaviour>
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="primary" id="downloadButtonRow{{rows.indexOf(row)}}_id" tooltip="Download"
              (click)="downloadArchive(row)" button-click-behaviour>
        <mat-icon>file_download</mat-icon>
      </button>
      <button mat-icon-button color="primary" id="restoreButtonRow{{rows.indexOf(row)}}_id" tooltip="Restore"
              [disabled]="row.current" (click)="restoreArchive(row)" button-click-behaviour>
        <mat-icon>settings_backup_restore</mat-icon>
      </button>
    </ng-template>

    <page-footer [parent]="this" [isAddVisible]="false" [isEditVisible]="false"></page-footer>

    <div class="group-action-button">
      <button mat-raised-button color="primary" (click)="downloadArchive(selected[0])" id="downloadArchivebutton_id"
              [disabled]="!canDownload()"
              button-click-behaviour>
        <mat-icon>file_download</mat-icon>
        <span>Download</span>
      </button>
      <button mat-raised-button color="primary" (click)="restoreArchive(selected[0])" id="restoreArchivebutton_id"
              [disabled]="!canRestore()"
              button-click-behaviour>
        <mat-icon>settings_backup_restore</mat-icon>
        <span>Restore</span>
      </button>
    </div>

  </div>
</div>
