<h2 mat-dialog-title>Upload truststore</h2>
<mat-dialog-content class="dialog">
  <form [formGroup]="truststoreForm">
    <mat-card>
      <mat-card-content>
        <div class="divTableRow">
          <div class="divTableCell">
            <input #fileInput type="file" id="truststore" accept=".jks,.p12,.pfx" (change)="validateFileSelection()">
          </div>
          <div class="divTableCell">
          </div>
        </div>
        <mat-form-field class="password">
          <input matInput placeholder="Password" id="password_id" name="password" type="password" [formControl]="truststoreForm.controls['password']" required="true">
          <div *ngIf="truststoreForm.controls['password'].hasError('required')" class="error">You should type a password</div>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <table class="buttonsRow">
      <tr>
        <td>
          <button id="okbuttonupload_id" class="button" mat-raised-button color="primary" (click)="submit()" [disabled]="!isFormValid()">
            <mat-icon>check_circle</mat-icon>
            <span>OK</span>
          </button>
          <button id="cancelbuttonupload_id" class="button" mat-raised-button color="primary" (click)="dialogRef.close({})">
            <mat-icon>cancel</mat-icon>
            <span>Cancel</span>
          </button>
        </td>
      </tr>
    </table>

    <div class="legend">* required fields</div>
  </form>
</mat-dialog-content>




