<h2 md-dialog-title>Upload truststore</h2>
<md-dialog-content class="dialog">
  <form [formGroup]="truststoreForm">
    <md-card>
      <md-card-content>
        <div class="divTableRow">
          <div class="divTableCell">
            <input #fileInput type="file" id="truststore" accept=".jks,.p12,.pfx" (change)="validateFileSelection()">
          </div>
          <div class="divTableCell">
          </div>
        </div>
        <md-input-container class="password">
          <input mdInput placeholder="Password" id="password_id" name="password" type="password" [formControl]="truststoreForm.controls['password']" required="true">
          <div *ngIf="truststoreForm.controls['password'].hasError('required')" class="error">You should type a password</div>
        </md-input-container>
      </md-card-content>
    </md-card>

    <table class="buttonsRow">
      <tr>
        <td>
          <button id="okbuttonupload_id" class="button" md-raised-button color="primary" (click)="submit()" [disabled]="!isFormValid()">
            <md-icon>check_circle</md-icon>
            <span>OK</span>
          </button>
          <button id="cancelbuttonupload_id" class="button" md-raised-button color="primary" (click)="dialogRef.close({})">
            <md-icon>cancel</md-icon>
            <span>Cancel</span>
          </button>
        </td>
      </tr>
    </table>

    <div class="legend">* required fields</div>
  </form>
</md-dialog-content>




