<div style="width: 700px">
  <p class="domibusTextSmall" style="margin:0;font-weight: bold">{{formTitle}}</p>
  <form [formGroup]="userForm" (submit)="submitForm()">
    <mat-card>

      <input type="text" name="username" style="position: absolute; top: -100px;" >
      <input type="password" name="password" style="position: absolute; top: -100px;" >

      <div style="margin-top:15px;">
        <mat-form-field [style.width]="'100%'">
          <input matInput placeholder="User Name" name="userName" id="username_id" [(ngModel)]="user.userName"
                 [formControl]="userForm.controls['userName']" maxlength="255" required>
          <div *ngIf="userForm.controls['userName'].hasError('required')" style="color:red; font-size: 70%">You should type an username</div>
        </mat-form-field>
      </div>

      <div style="margin-top:15px;">
        <mat-form-field [style.width]="'100%'">
          <input matInput placeholder="Original User" name="originalUser" id="originalUser_id" [(ngModel)]="user.originalUser"
                 [formControl]="userForm.controls['originalUser']" [pattern]="originalUserPattern" maxlength="255">
          <div *ngIf="userForm.controls['originalUser'].hasError('pattern')" style="color:red; font-size: 70%">{{originalUserMessage}}</div>
        </mat-form-field>
      </div>

      <div style="margin-top:10px;">
        <mat-select matInput placeholder="Role" [style.width]="'100%'" [formControl]="userForm.controls['role']" [(ngModel)]="user.authRoles" required>
          <mat-option *ngFor="let item of existingRoles" [value]="item">{{item}}</mat-option>
        </mat-select>
        <div *ngIf="userForm.controls['role'].hasError('required')" style="color:red; font-size: 70%">You need to choose at least one role for this user</div>
      </div>

      <div style="margin-top:15px;">
        <mat-form-field [style.width]="'100%'">
          <input matInput placeholder="Password" name="password" id="password_id" type="password" [(ngModel)]="user.password" [formControl]="userForm.controls['password']"
                 [pattern]="passwordPattern" [required]="!editMode" >
          <div *ngIf="!editMode && userForm.controls['password'].hasError('required')" style="color:red; font-size: 70%">You should type a password</div>
          <div *ngIf="userForm.controls['password'].dirty && userForm.controls['password'].hasError('pattern')"
               style="color:red; font-size: 70%">
            Password should follow all of these rules:<br>
            <div [innerHTML]="passwordValidationMessage"></div>
          </div>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field [style.width]="'100%'">
          <input matInput placeholder="Confirmation" name="confirmation" id="confirmation_id" type="password" [(ngModel)]="confirmation" [formControl]="userForm.controls['confirmation']" [required]="!editMode" >
          <div *ngIf="!editMode && userForm.controls['confirmation'].hasError('required')" style="color:red; font-size: 70%">You should type a password</div>
          <div *ngIf="userForm.controls['confirmation'].hasError('confirmation')" style="color:red; font-size: 70%">Passwords do not match</div>
        </mat-form-field>
      </div>

      <div style="margin-bottom: 20px;margin-top: 10px;">
        Active<input type="checkbox" [checked]="user.active" (blur)="updateActive($event)" [formControl]="userForm.controls['active']">
      </div>

      <table class="buttonsRow">
        <tr>
          <td>
            <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="submitForm()" id="editbuttonok_id" [disabled]="!userForm.valid">
              <mat-icon>check_circle</mat-icon>
              <span>OK</span>
            </button>
            <button mat-raised-button color="primary" id="editbuttoncancel_id" mat-dialog-close>
              <mat-icon>cancel</mat-icon>
              <span>Cancel</span>
            </button>
          </td>
        </tr>
      </table>
      <div  style="text-align: right; font-size: 70%">* required fields</div>
    </mat-card>
  </form>
</div>
