<div style="width: 700px">
  <p class="domibusTextSmall" style="margin:0;font-weight: bold">{{formTitle}}</p>
  <form [formGroup]="userForm" (submit)="submitForm()">
    <mat-card>

      <div style="margin-top:15px;">
        <mat-form-field [style.width]="'100%'">
          <input matInput placeholder="Certificate Id" name="certificateId" id="username_id" [(ngModel)]="user.certificateId"
                 [formControl]="userForm.controls['certificateId']" [pattern]="certificateIdPattern" maxlength="255" required>
          <div *ngIf="userForm.controls['certificateId'].hasError('required')" style="color:red; font-size: 70%">You should type a certificate id</div>
          <div *ngIf="userForm.controls['certificateId'].hasError('pattern')" style="color:red; font-size: 70%">{{certificateIdMessage}}</div>
        </mat-form-field>
      </div>

      <div style="margin-top:15px;">
        <mat-form-field [style.width]="'100%'">
          <input matInput placeholder="Original User" name="originalUser" id="originalUser_id" [(ngModel)]="user.originalUser"
                 [formControl]="userForm.controls['originalUser']" [pattern]="originalUserPattern" maxlength="255">
          <div *ngIf="userForm.controls['originalUser'].hasError('pattern')" style="color:red; font-size: 70%">{{originalUserMessage}}</div>
        </mat-form-field>
      </div>

      <div style="margin-top:10px;">
        <mat-select matInput placeholder="Role" [style.width]="'100%'" [formControl]="userForm.controls['role']" [(ngModel)]="user.authRoles" required>
          <mat-option *ngFor="let item of existingRoles" [value]="item">{{item}}</mat-option>
        </mat-select>
        <div *ngIf="userForm.controls['role'].hasError('required')" style="color:red; font-size: 70%">You need to choose a role for this user</div>
      </div>

      <table class="buttonsRow" style="margin-top:20px;">
        <tr>
          <td>
            <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="submitForm()" id="editbuttonok_id" [disabled]="!userForm.valid">
              <mat-icon>check_circle</mat-icon>
              <span>OK</span>
            </button>
            <button mat-raised-button color="primary" id="editbuttoncancel_id" mat-dialog-close>
              <mat-icon>cancel</mat-icon>
              <span>Cancel</span>
            </button>
          </td>
        </tr>
      </table>
      <div  style="text-align: right; font-size: 70%">* required fields</div>
    </mat-card>
  </form>
</div>
