
/*--------------------------------------------------
    [LOGIN PAGE]
----------------------------------------------------*/
.login-page form {
  margin-top: 70px;
}

.login-page #formContainer {
  width: 25%;
  margin: 0 auto;
  min-width: 300px;
  margin-top: 150px;
  /*width: 100%;*/
  /*display: flex;*/
  /*justify-content: center;*/
}

.mat-form-field {
  width: 100% !important;
}
