.panel mat-input-container, .panel mat-select, .panel md2-datepicker, .panel mat-select {
  width: 100% !important;
}

.mat-form-field, mat-select {
  width: 80% !important;
}

.receiver-party {
  font-size: larger;
  font-weight: bolder;
  margin: 16px 0;
  display: block;
}

