<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="encoderPattern" value="%d{ISO8601} [%thread] %5p %c:%L - %m%n" scope="global"/>
    <property name="encoderPatternColor" value="%d{ISO8601} [%thread] %highlight(%5p) %c{1}:%L - %m%n" scope="global"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>${encoderPatternColor}</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>target/logs/domibus-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 30MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>30MB</maxFileSize>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${encoderPattern}</pattern>
        </encoder>
    </appender>

    <appender name="DEFAULT-ASYNC-FILE" class="ch.qos.logback.classic.AsyncAppender">
        <!-- Have tried to play around with queue size - no major effect -->
        <queueSize>1024</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="file" />
    </appender>

    <appender name="DEFAULT-ASYNC-STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <!-- Have tried to play around with queue size - no major effect -->
         <queueSize>1024</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="stdout" />
    </appender>

    <root level="ALL">
        <appender-ref ref="DEFAULT-ASYNC-STDOUT"/>
        <appender-ref ref="DEFAULT-ASYNC-FILE" />
    </root>
</configuration>