<div style="height: calc(100% - 15px);">
  <page-header id="usersheader_id">Users</page-header>

  <div *ngIf="true" class="selectionCriteria">
    <mat-card>
      <mat-card-content>
        <div class="panel">
          <form name="filterForm" #filterForm="ngForm" (submit)="tryFilter()">
            <mat-select placeholder="User role" [(ngModel)]="filter.authRole" id="role_id" name="roleId">
              <mat-option [value]="''"></mat-option>
              <mat-option *ngFor="let t of userRoles" [value]="t">
                {{t}}
              </mat-option>
            </mat-select>

            <mat-form-field>
              <input matInput placeholder="Username" [(ngModel)]="filter.userName" id="username_id" name="userName">
            </mat-form-field>

            <span style="margin-left: 20px;">
              <mat-checkbox [(ngModel)]="filter.deleted" [(indeterminate)]="filter.deleted_notSet" (click)="setState()"
                        id="deleted_id" name="deleted">Deleted</mat-checkbox>
            </span>

            <filter-area-footer [parent]="this" [isAdvancedVisible]="false" [form]="filterForm"></filter-area-footer>

          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="panel" style="height: calc(100% - 130px);">

    <grid-header [parent]="this"></grid-header>

    <div style="height: calc(100% - 150px); overflow-y: auto; overflow-x: hidden;">
      <page-grid [parent]="this" [selectionType]="'multi'"></page-grid>
    </div>

    <ng-template #editableTpl let-value="value" let-row="row" ngx-datatable-cell-template>
          <span class="clickAble" [class.user-deleted]="row.deleted"
                style="word-wrap: break-word">
            {{value}}
          </span>
    </ng-template>

    <ng-template #checkBoxTpl let-row="row" ngx-datatable-cell-template>
      <mat-checkbox [checked]="row['active']" disabled></mat-checkbox>
      <ng-container *ngIf="row['suspended']">
        <span> (Suspended)</span>
      </ng-container>
    </ng-template>

    <ng-template #deletedTpl let-row="row" ngx-datatable-cell-template>
      <mat-checkbox [checked]="row['deleted']" disabled></mat-checkbox>
    </ng-template>

    <ng-template #rowActions let-row="row" let-value="value" ngx-datatable-cell-template>
      <button id="userEditButtonRow{{rows.indexOf(row)}}_id" mat-icon-button [disabled]="row.deleted || isLoading"
              (click)="editUser(row)"
              color="primary" tooltip="Edit" button-click-behaviour>
        <mat-icon>edit</mat-icon>
      </button>
      <button id="userDeleteButtonRow{{rows.indexOf(row)}}_id" mat-icon-button [disabled]="row.deleted || isLoading"
              (click)="buttonDeleteAction(row)" color="primary"
              tooltip="Delete" button-click-behaviour>
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>

    <ng-template #rowWithDateFormatTpl let-row="row" let-value="value" ngx-datatable-cell-template>
      <span class="text-select">{{value| domibusDate}}</span>
    </ng-template>

    <page-footer [parent]="this"></page-footer>

  </div>
</div>
