<page-header id="usersheader_id">Users</page-header>

<div *ngIf="true" class="selectionCriteria">
  <mat-card>
    <mat-card-content>
      <div class="panel">

        <mat-select placeholder="User role" [(ngModel)]="filter.authRole" id="role_id">
          <mat-option [value]="''"></mat-option>
          <mat-option *ngFor="let t of userRoles" [value]="t">
            {{t}}
          </mat-option>
        </mat-select>

        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="filter.userName" id="username_id">
        </mat-form-field>

        <span style="margin-left: 20px;">
          <mat-checkbox [(ngModel)]="filter.deleted" [(indeterminate)]="filter.deleted_notSet" (click)="setState()">Deleted</mat-checkbox>
        </span>

        <div class="searchArea">
          <button mat-raised-button color="primary" id="searchbutton_id" (click)="tryFilter()" button-click-behaviour>
            <mat-icon>search</mat-icon>
            <span>Search</span>
          </button>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="panel">

  <grid-header [parent]="this"></grid-header>

  <ngx-datatable
    id="userTable"
    class="material striped"
    [rows]="rows"
    [columns]="columnPicker.selectedColumns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [scrollbarH]="true"
    [loadingIndicator]="false"
    [selected]="selected"
    [limit]="rowLimiter.pageSize"
    [selectionType]="'multi'"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    [offset]="offset"
    (page)="onPage($event)">
  </ngx-datatable>

  <ng-template #editableTpl let-value="value" let-row="row" ngx-datatable-cell-template>
          <span class="clickAble" [class.user-deleted]="row.deleted"
                style="word-wrap: break-word">
            {{value}}
          </span>
  </ng-template>

  <ng-template #passwordTpl let-value="value" let-row="row" ngx-datatable-cell-template>
          <span class="password-field" class="clickAble">
            ******
          </span>
  </ng-template>

  <ng-template #checkBoxTpl let-row="row" ngx-datatable-cell-template>
    <mat-checkbox [checked]="row['active']" disabled></mat-checkbox>
    <ng-container *ngIf="row['suspended']">
      <span>(Suspended)</span>
    </ng-container>
  </ng-template>

  <ng-template #deletedTpl let-row="row" ngx-datatable-cell-template>
    <mat-checkbox [checked]="row['deleted']" disabled></mat-checkbox>
  </ng-template>

  <ng-template #rowActions let-row="row" let-value="value" ngx-datatable-cell-template>
    <button id="userEditButtonRow{{rows.indexOf(row)}}_id" mat-icon-button [disabled]="row.deleted || isLoading" (click)="buttonEditAction(row)"
            color="primary" tooltip="Edit" button-click-behaviour>
      <mat-icon>edit</mat-icon>
    </button>
    <button id="userDeleteButtonRow{{rows.indexOf(row)}}_id" mat-icon-button [disabled]="row.deleted || isLoading" (click)="buttonDeleteAction(row)" color="primary"
            tooltip="Delete" button-click-behaviour>
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>

  <table class="group-action-button">
    <tr>
      <td>
        <button id="userCancelButton" mat-raised-button (click)="cancel()" color="primary" [disabled]="!canCancel()" button-click-behaviour>
          <mat-icon>cancel</mat-icon>
          <span>Cancel</span>
        </button>
        <button id="userSaveButton" mat-raised-button (click)="save()" color="primary" [disabled]="!canSave()" button-click-behaviour>
          <mat-icon>save</mat-icon>
          <span>Save</span>
        </button>
        <button id="userNewButton" mat-raised-button (click)="add()" [disabled]="!canAdd()" color="primary" button-click-behaviour>
          <mat-icon>add</mat-icon>
          <span>New</span>
        </button>
        <button id="userEditButton" mat-raised-button (click)="edit()" [disabled]="!canEdit()" color="primary" button-click-behaviour>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button id="userDeleteButton" mat-raised-button (click)="delete()" [disabled]="!canDelete()" color="primary" button-click-behaviour>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </td>
    </tr>
  </table>
</div>
