<page-header id="partyHeader_id">PMode - Parties</page-header>
<div class="selectionCriteria">
  <mat-card>
    <mat-card-content>
      <form (submit)="trySearch()">
        <div class="panel">
          <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="filter.name" name="name" id="name_id">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="End Point" [(ngModel)]="filter.endPoint" name="endPoint" id="endPoint_id">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Party Id" [(ngModel)]="filter.partyID" name="partyID" id="partyID_id">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Process" [(ngModel)]="filter.process" name="process" id="process_id">
          </mat-form-field>
          <mat-select placeholder="Process Role" [(ngModel)]="filter.process_role" name="process_role" id="process_role_id" style="width:120px;margin-right: 0;">
            <mat-option [value]="''"></mat-option>
            <mat-option [value]="'(I)'">I</mat-option>
            <mat-option [value]="'(R)'">R</mat-option>
            <mat-option [value]="'(IR)'">IR</mat-option>
          </mat-select>

          <div class="searchArea">
            <button mat-raised-button color="primary" id="searchbutton_id" button-click-behaviour>
              <mat-icon>search</mat-icon>
              <span>Search</span>
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div class="panel">
  <grid-header [parent]="this"></grid-header>
</div>

<ngx-datatable
  id="partyTable"
  class="material striped"
  [rows]="rows"
  [columnMode]="'force'"
  [columns]="columnPicker.selectedColumns"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [scrollbarH]="true"
  [externalPaging]="false"
  [externalSorting]="false"
  [loadingIndicator]="isLoading"
  [count]="count"
  [offset]="offset"
  [limit]="rowLimiter.pageSize"
  (page)="onPage($event)"
  (sort)="OnSort()"
  [selected]="selected"
  [selectionType]="'single'"
  (activate)="onActivate($event)"
>
</ngx-datatable>

<ng-template #rowActions let-row="row" let-value="value" ngx-datatable-cell-template>
  <button mat-icon-button (click)="edit(row)"
          color="primary" tooltip="Edit" button-click-behaviour>
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button (click)="delete(row)" color="primary"
          tooltip="Delete" button-click-behaviour>
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>

<table class="group-action-button">
  <tr>
    <td>
      <button id="cancelPartyButton" mat-raised-button (click)="cancel()" color="primary" [disabled]="!canCancel()" button-click-behaviour>
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
      <button id="savePartyButton" mat-raised-button (click)="save()" color="primary" [disabled]="!canSave()" button-click-behaviour>
        <mat-icon>save</mat-icon>
        <span>Save</span>
      </button>
      <button id="addPartyButton" mat-raised-button (click)="add()" color="primary" [disabled]="!canAdd()" button-click-behaviour>
        <mat-icon>add</mat-icon>
        <span>New</span>
      </button>
      <button id="editPartyButton" mat-raised-button (click)="edit(null)" color="primary" [disabled]="!canEdit()" button-click-behaviour>
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button id="deletePartyButton" mat-raised-button (click)="remove()" color="primary" [disabled]="!canDelete()" button-click-behaviour>
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </td>
  </tr>
</table>
