/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import 'assets/fonts/fonts.css';

/*--------------------------------------------------
    [NORMALIZE]
----------------------------------------------------*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.mat-dialog-title {
  font-family: 'Open Sans', sans-serif !important;
}

.mat-button, .mat-raised-button, .mat-icon-button {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bolder !important;
}

.text-select {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  word-wrap: break-word !important;
}

div:before,
table:before,
tr:before,
td:before,
form:before,
tbody:before,
mat-card:before,
mat-card-content:before,
.panel:before,
.selectionCriteria:before,
table.buttonsRow:before,
div.buttonsRow:before,
table.buttonsMoveRow,
mat-input-container:before,
ngx-datatable span:before:not([class^="datatable-icon-"]) {
  content: " " !important;
}

/* selection for datatable */
.ngx-datatable .datatable-body-cell, .ngx-datatable .datatable-header-cell {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;
}

.ngx-datatable .datatable-body-cell, .ngx-datatable .datatable-header-cell {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;
}

.ngx-datatable span {
  word-wrap: break-word;
}

/*--------------------------------------------------
    [STRUCTURE]
----------------------------------------------------*/

/* --- CONTAINER --------- */
/*------------------------ */
.mat-sidenav-container {
  background-color: #F5F5F5;
  color: rgba(0, 0, 0, .99);
}

/* --- SIDEBAR --------- */
/*---------------------- */
mat-sidenav[_ngcontent-c0] {
  box-shadow: 0px 0px 2px #9B9B9B !important;
}

/* --- Logo ---*/
#topLogoText {
  margin-left: 5px;
  text-align: left;
}

#topLogo {
  vertical-align: middle;
}

#topLogoText h1 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 900;
}

#topLogoText h1 span {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

/* --- Menu ---*/
.mat-sidenav button {
  box-shadow: none;
  border-radius: 0;
  line-height: 50px !important;
  letter-spacing: 1px;
}

.sideNavButton {
  padding-left: 20px !important;
}

/* --- Collapse button ---*/
.collapse-button {
  position: absolute;
  bottom: 0;
}

/* --- EC Logo ---*/
#bottomLogo {
  display: none;
}

/* --- MAIN CONTENT --------- */

.mat-sidenav-content {
  min-height: 100vh;
}

.mat-drawer-content {
  overflow: hidden !important;
  overflow-y: auto !important;
}

/* --- Hamburger Menu ---*/
/*Hamburger wrapper*/
#sandwichMenuHolder {
  position: relative;
  display: block;
}

/*Hamburger button*/
#sandwichMenu {
  position: absolute;
  right: 10px;
  top: 0;
}

#sandwichMenu .mat-icon-button {
  height: 40px;
  width: 40px;
}

#sandwichMenu .mat-icon.material-icons {
  height: 40px;
  width: 40px;
  font-size: 40px;
  line-height: 1;
}

#sandwichMenu .material-icons:hover {
  color: #03A9F4;
}

/* --- Help button ---*/
.helpMenu {
  position: absolute;
  top: 8px;
  right: 37px;
  width: 50px;
}


/*--------------------------------------------------
    [HEADING]
----------------------------------------------------*/

page-header h1 {
  /*font-size: 48px;*/
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: xx-large !important;
}

h2 {
  font-size: 36px;
}

/*--------------------------------------------------
    [LINKS]
----------------------------------------------------*/
a {
  text-decoration: none;
}

a,
a:hover,
a:active,
button,
button:hover {
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

/*--------------------------------------------------
    [PANEL]
----------------------------------------------------*/
.panel {
  /*margin-bottom: 20px;*/
  padding: 0px 20px;
  background: #FFF;
  /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);*/
  /*padding-top: 0 !important;*/
}

mat-card {
  margin: 0;
}

.searchArea {
  margin-top: 10px !important;
}

/* --- INPUT ---*/
.panel mat-select, .panel md2-datepicker, .panel mat-select {
  padding-top: 10px;
  padding-bottom: 10px;
}

.panel mat-select, .panel mat-input-container, .panel md2-datepicker, .panel mat-select {
  margin-right: 2%;
}

.panel mat-input-container, .panel mat-select, .panel md2-datepicker, .panel mat-select {
  width: 22%;
}

@media (max-width: 991px) {
  .panel mat-input-container, .panel mat-select, .panel md2-datepicker, .panel mat-select {
    width: 46%;
  }
}

@media (max-width: 767px) {
  .panel mat-input-container, .panel mat-select, .panel md2-datepicker, .panel mat-select {
    width: 100%;
  }
}

.mat-select-menu-container,
.mat-select-panel {
  z-index: 99999 !important;
}

/* --- GROUP BUTTON FILTER ---*/
.group-filter-button {
  position: relative;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-top: 5px;
}

.column-filter-button a.hide-show-column {
  position: absolute;
  top: 20px;
  right: 0;
}

.all-none-selection {
  padding-top: 10px;
  padding-left: 10px;
}

.all-none-selection a {
  margin-right: 10px;
}

.all-none-selection a:last-child {
  margin-right: 0;
}

/* --- GROUP BUTTON ACTION ---*/
.group-action-button {
  margin-top: 20px;
  display: inline-block;
}

.group-action-button button {
  margin-right: 10px;
}

/* --- TABS --- */
.md2-tab-ink-bar {
  background-color: #03A9F4 !important;
}

/*--------------------------------------------------
    [TABLE]
----------------------------------------------------*/
.ngx-datatable.material {
  background: #FFF;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-form-field {
  display: inline-block;
  width: 22%;
  margin-right: 30px;
  /*vertical-align: middle;*/
}

.mat-icon {
  margin-right: 10px;
}

input {
  background-color: white !important;
}

.mat-select-trigger {
  padding-bottom: 6px;
  border-bottom: solid 0.5px lightgray;
}

mat-select .mat-select {
  padding: 14px 0;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  font-size: 16px;
}

.buttonsRow button {
  margin-right: 16px;
}

.buttonsRow button:last-child {
  margin-right: 0;
}

.md2-datepicker-placeholder {
  z-index: 1;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0.05em !important;
  background-color: lightgray !important;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell .mat-icon-button {
  height: 30px !important;
  margin-top: -10px !important;
}

.mat-snack-bar-container {
  max-width: 50vw !important;
}

.mat-snack-bar-container.error {
  background-color: #f44336 !important;
}

.mat-snack-bar-container.success {
  background-color: forestgreen !important;
}

.mat-simple-snackbar {
  color: white !important;
  font-size: 16px !important;
}

html, body, app-root, ng-component {
  height: 100%;
  overflow-y: hidden;
}

.full-height {
  height: 100%;
  overflow-y: hidden;
}
