.panel mat-input-container, .panel mat-select, .panel md2-datepicker, .panel mat-select {
  width: 100% !important;
}

.mat-form-field, mat-select {
  width: 80% !important;
}

:host {
  min-width: 50vw;
  display: block;
}

.receiver-party {
  font-size: larger;
  font-weight: bolder;
  margin: 16px 0;
  display: block;
}

.closebtn {
  right: -12px;
  top: -22px;
  z-index: 1001;
  position: absolute;
  color: gray;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.scroll-div {
  height: 80vh;
  overflow-y: auto;
}
