<div class="table-wrapper" #tableWrapper style="width: 100%;">
  <ngx-datatable #table
                 id="pageGridId"
                 class="material striped"
                 [rows]="parent.rows"
                 [columns]="parent.columnPicker.selectedColumns"
                 [columnMode]="'force'"
                 [headerHeight]="50"
                 [footerHeight]="50"
                 [rowHeight]="'auto'"
                 [scrollbarH]="true"
                 [externalPaging]="useExternalPaging()"
                 [externalSorting]="useExternalSorting()"
                 [loadingIndicator]="parent.isLoading"
                 [count]="parent.count"
                 [offset]="parent.offset"
                 [limit]="parent.rowLimiter.pageSize"
                 (page)='parent.onPage($event)'
                 (sort)="parent.onSort && parent.onSort($event)"
                 [sorts]="sortedColumns"
                 [selectionType]="selectionType"
                 [selected]="parent.selected"
                 (select)="parent.onSelect($event)"
                 (activate)="parent.onActivate($event)"
                 [rowClass]="rowClassFn">

    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template
                   let-rowCount="rowCount"
                   let-pageSize="pageSize"
                   let-selectedCount="selectedCount"
                   let-curPage="curPage">
        <div class="page-count">
          {{selectedCount.toLocaleString()}} {{table.messages.selectedMessage}} /
          {{totalMessage?.replace('$1', rowCount.toLocaleString())}}
        </div>
        <datatable-pager
          [pagerLeftArrowIcon]="'datatable-icon-left'"
          [pagerRightArrowIcon]="'datatable-icon-right'"
          [pagerPreviousIcon]="'datatable-icon-prev'"
          [pagerNextIcon]="'datatable-icon-skip'"
          [page]="curPage"
          [size]="pageSize"
          [count]="rowCount"
          [hidden]="!((rowCount / pageSize) > 1)"
          (change)="table.onFooterPage($event)">
        </datatable-pager>
      </ng-template>
    </ngx-datatable-footer>

  </ngx-datatable>
</div>
