<page-header id="errorlogheader_id">Error Log</page-header>
<div class="selectionCriteria">
  <mat-card>
    <mat-card-content>

      <div class="panel">
        <form name="filterForm" #filterForm="ngForm" (ngSubmit)="search()">

          <mat-form-field>
            <input matInput placeholder="Signal Message Id" name="errorSignalMessageId"
                   [(ngModel)]="filter.errorSignalMessageId" #errorSignalMessageId="ngModel" id="signalmessageid_id"
                   width="40px">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Message Id" name="messageInErrorId" [(ngModel)]="filter.messageInErrorId"
                   #messageInErrorId="ngModel" id="messageid_id">
          </mat-form-field>
          <md2-datepicker placeholder="Error From:" appClearInvalid
                          [(ngModel)]="filter.timestampFrom"
                          name="fromTimestmap"
                          [type]="'datetime'"
                          [max]="timestampFromMaxDate"
                          (change)='onTimestampFromChange($event)'
                          id="fromtimestamp_id"></md2-datepicker>
          <md2-datepicker placeholder="Error To:" appClearInvalid
                          [(ngModel)]="filter.timestampTo"
                          name="toTimestmap"
                          [min]="timestampToMinDate"
                          [max]="timestampToMaxDate"
                          (change)='onTimestampToChange($event)'
                          [type]="'datetime'"
                          #timestampControl="ngModel" id="totimestamp_id"></md2-datepicker>

          <mat-form-field *ngIf="advancedSearch">
            <input matInput placeholder="Error Detail" name="ErrorDetail" [(ngModel)]="filter.errorDetail"
                   #errorDetail="ngModel" id="errordetail_id">
          </mat-form-field>
          <mat-select placeholder="AP Role" [(ngModel)]="filter.mshRole" name="mshRole" class="optionField"
                     id="aprole_id" *ngIf="advancedSearch">
            <mat-option [value]="''">
            </mat-option>
            <mat-option *ngFor="let role of mshRoles" [value]="role">
              {{role}}
            </mat-option>
          </mat-select>

          <mat-select placeholder="Error Code" [(ngModel)]="filter.errorCode" name="errorCode" class="optionField"
                     id="errorcode_id" *ngIf="advancedSearch">
            <mat-option [value]="''">
            </mat-option>
            <mat-option *ngFor="let code of errorCodes" [value]="code">
              {{code}}
            </mat-option>
          </mat-select>


          <md2-datepicker placeholder="Notified From:" appClearInvalid
                          [(ngModel)]="filter.notifiedFrom"
                          name="notifiedFrom"
                          [type]="'datetime'"
                          [max]="notifiedFromMaxDate"
                          (change)='onNotifiedFromChange($event)'
                          #timestampControl="ngModel" id="notifiedfrom_id"
                          *ngIf="advancedSearch"></md2-datepicker>
          <md2-datepicker placeholder="Notified To:" appClearInvalid
                          [(ngModel)]="filter.notifiedTo"
                          name="notifiedTo"
                          [type]="'datetime'"
                          [min]="notifiedToMinDate"
                          [max]="notifiedToMaxDate"
                          (change)='onNotifiedToChange($event)'
                          #timestampControl="ngModel" id="notifiedto_id"
                          *ngIf="advancedSearch"></md2-datepicker>


          <div class="searchArea">
            <button mat-raised-button color="primary" [disabled]="!filterForm.form.valid" id="searchbutton_id" button-click-behaviour>
              <mat-icon>search</mat-icon>
              <span>Search</span>
            </button>
            <a href="#" *ngIf="!advancedSearch" (click)="toggleAdvancedSearch()" id="advancedlink_id">Advanced</a>
            <a href="#" *ngIf="advancedSearch" (click)="toggleAdvancedSearch()" id="basiclink_id">Basic</a>
          </div>
        </form>
      </div>

    </mat-card-content>
  </mat-card>
</div>

<div class="panel">
  <grid-header [parent]="this"></grid-header>

  <ngx-datatable
    id="errorLogTable"
    class="material striped"
    [rows]="rows"
    [columnMode]="'force'"
    [columns]="columnPicker.selectedColumns"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [scrollbarH]="true"
    [externalPaging]="true"
    [externalSorting]="true"
    [loadingIndicator]="isLoading"
    [count]="count"
    [offset]="offset"
    [limit]="rowLimiter.pageSize"
    [sorts]="[{prop: 'timestamp', dir: 'desc'}]"
    (page)='onPage($event)'
    (sort)="onSort($event)"
    (activate)="onActivate($event)"
  >
</ngx-datatable>

  <ng-template #rowWithDateFormatTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <span class="text-select">{{value | domibusDate: dateFormat}}</span>
  </ng-template>
</div>
