<h2 mat-dialog-title>Message details</h2>
<mat-dialog-content style="height:460px;width:650px">
  <mat-card>
    <mat-card-content>
      <mat-form-field style="width:100%">
        <input matInput placeholder="Message Id" value="{{message.messageId}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="From Party Id" value="{{message.fromPartyId}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="To Party Id" value="{{message.toPartyId}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Message Status" value="{{message.messageStatus}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Notification Status" value="{{message.notificationStatus}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Received" value="{{message.received | domibusDate}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="AP Role" value="{{message.mshRole}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Send Attempts" value="{{message.sendAttempts}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Send Attempts Max" value="{{message.sendAttemptsMax}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Next Attempt" value="{{message.nextAttempt | domibusDate}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Conversation Id" value="{{message.conversationId}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Message Type" value="{{message.messageType}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Message Subtype" value="{{message.messageSubtype}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Deleted" value="{{message.deleted | domibusDate }}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Failed" value="{{message.failed | domibusDate}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Restored" value="{{message.restored | domibusDate}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%" *ngIf="fourCornerEnabled">
        <input matInput placeholder="Original Sender" value="{{message.originalSender}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%" *ngIf="fourCornerEnabled">
        <input matInput placeholder="Final Recipient" value="{{message.finalRecipient}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <input matInput placeholder="Ref To Message Id" value="{{message.refToMessageId}}" readonly/>
      </mat-form-field>

    </mat-card-content>
  </mat-card>

</mat-dialog-content>

<mat-dialog-actions>
  <button id="messageLogDetailsCloseButton" mat-raised-button color="primary" (click)="dialogRef.close({})"
          style="margin-top:10px">
    <mat-icon>close</mat-icon>
    <span>Close</span>
  </button>
</mat-dialog-actions>

