<div style="height: calc(100% - 55px);">
  <page-header id="jmsmonitoringheader_id">JMS Monitoring</page-header>

  <div class="selectionCriteria">
    <mat-card>
      <mat-card-content>
        <div class="panel">
          <form name="filterForm" #filterForm="ngForm" (submit)="tryFilter()">
            <mat-select class="searchField" placeholder="Source" [(ngModel)]="selectedSource" name="jmsQueueSelector"
                        id="jmsQueueSelector" style="width:40%;">
              <mat-option *ngFor="let queue of queues" [value]="queue" class="queue-combo-item">
                {{queue.internal ? "[internal]" : ""}} {{queue.name}} {{queue.numberOfMessages != -1 ? "(" + queue.numberOfMessages + ")" : ""}}
              </mat-option>
            </mat-select>
            <md2-datepicker id="jmsFromDatePicker" appClearInvalid
                            placeholder="Received From:"
                            [(ngModel)]="filter.fromDate"
                            name="receivedFrom"
                            [type]="'datetime'"
                            [max]="timestampFromMaxDate"
                            (change)='onTimestampFromChange($event)'
                            #timestampControl="ngModel">
            </md2-datepicker>
            <md2-datepicker id="jmsToDatePicker" appClearInvalid
                            placeholder="Received Up To:"
                            [(ngModel)]="filter.toDate"
                            name="receivedTo"
                            [min]="timestampToMinDate"
                            [max]="timestampToMaxDate"
                            (change)='onTimestampToChange($event)'
                            [type]="'datetime'"
                            #timestampControl="ngModel">
            </md2-datepicker>

            <mat-form-field id="jmsSelector">
              <input id="jmsSelectorinput" name="selector" matInput placeholder="Selector" [(ngModel)]="filter.selector">
            </mat-form-field>

            <mat-form-field id="jmsType">
              <input id="jmsTypeInput" name="jmsType" matInput placeholder="JMS Type" [(ngModel)]="filter.jmsType">
            </mat-form-field>

            <filter-area-footer [parent]="this" [isAdvancedVisible]="false" [form]="filterForm"></filter-area-footer>

          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="panel" style="height: calc(100% - 170px);">

    <grid-header [parent]="this"></grid-header>

    <div style="height: calc(100% - 140px); overflow-y: auto; overflow-x: hidden;">
      <page-grid [parent]="this" [selectionType]="'multi'"
                 [sortedColumns]="[{prop: 'timestamp', dir: 'desc'}]"></page-grid>
    </div>

    <ng-template #rowWithDateFormatTpl let-row="row" let-value="value" ngx-datatable-cell-template>
      <span class="text-select">{{value | domibusDate: dateFormat}}</span>
    </ng-template>

    <ng-template #rowActions let-row="row" let-value="value" ngx-datatable-cell-template>
      <button id="jmsMoveButtonRow{{rows.indexOf(row)}}_id" mat-icon-button color="primary" (click)="moveAction(row)"
              tooltip="Move" button-click-behaviour>
        <mat-icon>move_to_inbox</mat-icon>
      </button>
      <button id="jmsDeleteButtonRow{{rows.indexOf(row)}}_id" mat-icon-button color="primary"
              (click)="deleteAction(row)"
              tooltip="Delete" button-click-behaviour>
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>

    <page-footer [parent]="this" [isAddVisible]="false" [isEditVisible]="false"></page-footer>

    <span>
      <button id="jmsMoveButton" mat-raised-button color="primary" (click)="moveSelected()" [disabled]="!canMove()"
              button-click-behaviour>
        <mat-icon>move_to_inbox</mat-icon>
        <span>Move</span>
      </button>
    </span>

  </div>
</div>
