<div style="height: calc(100% - 15px);">
  <page-header id="propertiesheader_id">Properties</page-header>

  <div class="selectionCriteria">
    <mat-card>
      <mat-card-content>
        <div class="panel">
          <form name="filterForm" #filterForm="ngForm" (submit)="tryFilter()">
            <span>
              <mat-form-field>
                <input matInput id="filterPropertyName_id" name="filterPropertyName" [(ngModel)]="filter.name"
                       placeholder="Property Name...">
              </mat-form-field>
            </span>

            <span>
              <mat-form-field>
                <input matInput id="filterPropertyType_id" name="filterPropertyType" [(ngModel)]="filter.type"
                       placeholder="Property Type...">
              </mat-form-field>
            </span>

            <span>
              <mat-form-field>
                <input matInput id="filterPropertyModule_id" name="filterPropertyModule" [(ngModel)]="filter.module"
                       placeholder="Property Module...">
              </mat-form-field>
            </span>

            <span>
              <ng-container *ngIf="showGlobalPropertiesControl">
                <mat-checkbox id="includeSuperProperties_id" name="includeSuperProperties" [(ngModel)]="filter.showDomain">
                  Show Domain Properties
                </mat-checkbox>
              </ng-container>
            </span>
            
            <filter-area-footer [parent]="this" [isAdvancedVisible]="false" [form]="filterForm"></filter-area-footer>

          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div style="height: calc(100% - 150px);">
    <div class="panel full-height">
      <grid-header [parent]="this"></grid-header>

      <div style="height: calc(100% - 70px); overflow-y: auto; overflow-x: hidden;">
        <page-grid [parent]="this"></page-grid>
      </div>

      <ng-template #propertyValueTpl let-row="row" let-value="value" ngx-datatable-cell-template>
        <div class="input-group property-edit">
          <input matInput type="text" autocomplete="off" class="form-control property-value"
                 [(ngModel)]="row.value"
                 (focus)="onPropertyValueFocus(row)"
                 (blur)="onPropertyValueBlur(row)"
                 (keydown.enter)="updateProperty(row)"
                 (keydown.escape)="revertProperty(row)">

          <span class="property-edit-buttons input-group-addon">
              <button mat-icon-button (click)="updateProperty(row)" [disabled]="!canUpdate(row)" button-click-behaviour>
                <mat-icon mat-tooltip="Save" mdTooltipPosition="above">save</mat-icon>
              </button>
              <button mat-icon-button (click)="revertProperty(row)" [disabled]="!canUpdate(row)" button-click-behaviour>
                <mat-icon mat-tooltip="Undo" mdTooltipPosition="above">undo</mat-icon>
              </button>
            </span>
        </div>

      </ng-template>

      <ng-template #propertyUsageTpl let-row="row" let-value="value" ngx-datatable-cell-template>
        <span>{{row.usageText}}</span>
      </ng-template>

    </div>
  </div>
</div>
