<div style="height: calc(100% - 15px);">
  <page-header id="propertiesheader_id">Properties</page-header>

  <div class="selectionCriteria">
    <mat-card>
      <mat-card-content>
        <div class="panel">
          <form name="filterForm" #filterForm="ngForm" (submit)="tryFilter()">

            <span>
              <mat-form-field style="width: 500px;">
                <input matInput id="filterPropertyName_id" name="filterPropertyName" [(ngModel)]="filter.name"
                       placeholder="Property Name...">
              </mat-form-field>
            </span>

            <span *ngIf="showGlobalPropertiesControl" style="margin-right: 30px;">
              <ng-container>
                <mat-checkbox id="includeSuperProperties_id" name="includeSuperProperties"
                              [(ngModel)]="filter.showDomain">
                  Show Domain Properties
                </mat-checkbox>
              </ng-container>
            </span>

            <span style="margin-right: 30px;">
              <tri-state-checkbox name="filterIsWritable"
                                  [(ngModel)]="filter.isWritable">Is Writable</tri-state-checkbox>
            </span>

            <span *ngIf="advancedSearch">
              <mat-form-field>
                <input matInput id="filterPropertyType_id" name="type" [(ngModel)]="filter.type"
                       placeholder="Property Type..." advanced-filter-behaviour [parent]="this">
              </mat-form-field>
            </span>

            <span *ngIf="advancedSearch">
              <mat-form-field>
                <input matInput id="filterPropertyModule_id" name="module" [(ngModel)]="filter.module"
                       placeholder="Property Module..." advanced-filter-behaviour [parent]="this">
              </mat-form-field>
            </span>

            <span *ngIf="advancedSearch">
              <mat-form-field>
                <input matInput id="filterPropertyValue_id" name="value" [(ngModel)]="filter.value"
                       placeholder="Property Value..." advanced-filter-behaviour [parent]="this">
              </mat-form-field>
            </span>

            <filter-area-footer [parent]="this" [form]="filterForm"></filter-area-footer>

          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div style="height: calc(100% - 150px);">
    <div class="panel full-height">
      <grid-header [parent]="this"></grid-header>

      <div style="height: calc(100% - 70px); overflow-y: auto; overflow-x: hidden;">
        <page-grid [parent]="this"></page-grid>
      </div>

      <ng-template #propertyValueTpl let-row="row" let-value="value" ngx-datatable-cell-template>
        <div class="input-group property-view" *ngIf="row.composable">
          <button mat-icon-button [disabled]="row.writable" (click)="addNewNestedProperty(row)" button-click-behaviour style="float: right;">
            <mat-icon mat-tooltip="New" mdTooltipPosition="above">note_add</mat-icon>
          </button>
        </div>
        <div class="input-group property-view" *ngIf="!row.writable">
          {{row.value}}
        </div>
        <div class="input-group property-edit" *ngIf="canWriteProperty(row)">
          <input matInput type="text" autocomplete="off" class="form-control property-value"
                 [(ngModel)]="row.value"
                 (focus)="onPropertyValueFocus(row)"
                 (blur)="onPropertyValueBlur(row)"
                 (keydown.enter)="updateProperty(row)"
                 (keydown.escape)="revertProperty(row)"
          >

          <span class="property-edit-buttons input-group-addon">
              <button mat-icon-button (click)="updateProperty(row)" [disabled]="!canUpdate(row)" button-click-behaviour>
                <mat-icon mat-tooltip="Save" mdTooltipPosition="above">save</mat-icon>
              </button>
              <button mat-icon-button (click)="revertProperty(row)" [disabled]="!canUpdate(row)" button-click-behaviour>
                <mat-icon mat-tooltip="Undo" mdTooltipPosition="above">undo</mat-icon>
              </button>
            </span>
        </div>

      </ng-template>

      <ng-template #propertyUsageTpl let-row="row" let-value="value" ngx-datatable-cell-template>
        <span>{{row.usageText}}</span>
      </ng-template>

    </div>
  </div>
</div>
