<h2 mat-dialog-title>Identifier</h2>

<mat-dialog-content style="min-width:250px;padding-top:25px;">
  <form #editForm="ngForm" (submit)="submitForm()">
    <div>
      <mat-card>
        <mat-card-content>
          <div class="panel">
            <mat-form-field style="width:100%">
              <input matInput placeholder="Party Id" name="partyId" id="partyId_id"
                     [(ngModel)]="partyIdentifier.partyId" input-debounce
                     #partyId="ngModel" required [maxlength]="255">
              <span class="help-block" *ngIf="shouldShowErrors(partyId)">
                <div *ngIf="partyId.errors?.required" style="color:red; font-size: 70%">You should type a party id</div>
              </span>
            </mat-form-field>
            <mat-form-field style="width:100%">
              <input matInput placeholder="Party Id Type" name="partyIdType_name" id="partyIdType_id"
                     [(ngModel)]="partyIdentifier.partyIdType.name" input-debounce
                     #partyIdType_name="ngModel" required [maxlength]="255">
              <span class="help-block" *ngIf="shouldShowErrors(partyIdType_name)">
                <div *ngIf="partyIdType_name.errors?.required" style="color:red; font-size: 70%">You should type a party id type</div>
              </span>
            </mat-form-field>
            <mat-form-field style="width:100%">
              <input matInput placeholder="Party Id Value" name="partyIdType_value" id="partyIdValue_id"
                     [(ngModel)]="partyIdentifier.partyIdType.value" input-debounce
                     #partyIdType_value="ngModel" required [maxlength]="255" [pattern]="partyIdTypePattern">
              <span class="help-block" *ngIf="shouldShowErrors(partyIdType_value)">
                <div *ngIf="partyIdType_value.errors.pattern">{{partyIdTypeMessage}}</div>
              </span>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <popup-edit-footer [parent]="this"></popup-edit-footer>

  </form>
</mat-dialog-content>
