<h2 mat-dialog-title>Identifier</h2>

<mat-dialog-content style="width:50vw;padding-top:25px;">
  <form name="filterForm">
    <div>
      <mat-card>
        <mat-card-content>
          <div class="panel">
            <mat-form-field style="width:100%">
              <input matInput placeholder="Party Id" name="partyId" id="partyId_id" [(ngModel)]="partyIdentifier.partyId" #partyId="ngModel"
                     required [maxlength]="255">
            </mat-form-field>
            <mat-form-field style="width:100%">
              <input matInput placeholder="Party Id Type" name="partyIdType_name" id="partyIdType_id" [(ngModel)]="partyIdentifier.partyIdType.name" #partyIdType_name="ngModel"
                     required [maxlength]="255">
            </mat-form-field>
            <mat-form-field style="width:100%">
              <input matInput placeholder="Party Id Value" name="partyIdType_value" id="partyIdValue_id" [(ngModel)]="partyIdentifier.partyIdType.value" #partyIdType_value="ngModel"
                     required [maxlength]="255" [pattern]="partyIdTypePattern">
              <div *ngIf="partyIdType_value.invalid && (partyIdType_value.dirty || partyIdType_value.touched)" style="color:red;font-size:70%">
                <div *ngIf="partyIdType_value.errors.pattern">
                  {{partyIdTypeMessage}}
                </div>
              </div>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="button-container">
      <button mat-raised-button (click)="ok()" color="primary" [disabled]="partyId.invalid || partyIdType_name.invalid || partyIdType_value.invalid">
        <span>OK</span>
      </button>
      <button mat-raised-button (click)="cancel()" color="primary">
        <span>Cancel</span>
      </button>
    </div>
  </form>
</mat-dialog-content>
