<page-header id="pluginusersheader_id">Plugin Users</page-header>
<div class="selectionCriteria">
  <mat-card>
    <mat-card-content>
      <div class="panel">

        <mat-select placeholder="Authentication type" [(ngModel)]="filter.authType" (selectionChange)="changeAuthType($event.value)" id="authType_id">
          <mat-option *ngFor="let t of authenticationTypes" [value]="t">
            {{t}}
          </mat-option>
        </mat-select>

        <mat-select placeholder="User role" [(ngModel)]="filter.authRole" id="endPoint_id">
          <mat-option [value]=""></mat-option>
          <mat-option *ngFor="let t of userRoles" [value]="t">
            {{t}}
          </mat-option>
        </mat-select>

        <mat-form-field>
          <input matInput placeholder="Original User" [(ngModel)]="filter.originalUser" id="process_id">
        </mat-form-field>

        <mat-form-field *ngIf="inBasicMode()">
          <input matInput placeholder="Username" [(ngModel)]="filter.userName" id="partyID_id">
        </mat-form-field>

        <div class="searchArea">
          <button mat-raised-button color="primary" id="searchbutton_id" (click)="trySearch()"
                  button-click-behaviour>
            <mat-icon>search</mat-icon>
            <span>Search</span>
          </button>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="panel">

  <div class="group-filter-button">
    <span class="row-button">
    <app-row-limiter [pageSizes]="rowLimiter.pageSizes"
                     (onPageSizeChanged)="changePageSize($event.value)"></app-row-limiter>
    </span>
    <span class="column-filter-button">
    <app-column-picker [allColumns]="columnPicker.allColumns" [selectedColumns]="columnPicker.selectedColumns"
                       (onSelectedColumnsChanged)="columnPicker.changeSelectedColumns($event)">

    </app-column-picker>
    </span>
    <button mat-icon-button color="primary" (click)="saveAsCSV()" button-click-behaviour
            id="saveascsvbutton_id" mat-tooltip="Export as CSV">
      <img src="assets/images/exportCSV.svg" width="30" height="30">
    </button>
  </div>

  <ngx-datatable
    id="userTable"
    class="material striped"
    [rows]="displayedUsers"
    [columns]="columnPicker.selectedColumns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [scrollbarH]="true"
    [externalPaging]="false"
    [externalSorting]="false"
    [loadingIndicator]="loading"
    [selected]="selected"
    [selectionType]="'single'"
    [limit]="rowLimiter.pageSize"
    [count]="displayedUsers.length"
    [offset]="offset"
    (activate)="onActivate($event)"
    (page)="onPageChanged($event)"
    (sort)="onSort()"
    ></ngx-datatable>

  <ng-template #activeTpl let-row="row" ngx-datatable-cell-template>
    <input type="checkbox" [checked]="row.active" disabled>
    <ng-container *ngIf="row['suspended']">
      <span>(Suspended)</span>
    </ng-container>
  </ng-template>

  <table class="group-action-button">
    <tr>
      <td>
        <button id="userCancelButton" mat-raised-button (click)="cancel()" color="primary" [disabled]="!canCancel()"
                button-click-behaviour>
          <mat-icon>cancel</mat-icon>
          <span>Cancel</span>
        </button>
        <button id="userSaveButton" mat-raised-button (click)="save()" color="primary" [disabled]="!canSave()"
                button-click-behaviour>
          <mat-icon>save</mat-icon>
          <span>Save</span>
        </button>
        <button id="userNewButton" mat-raised-button (click)="add()" color="primary" button-click-behaviour>
          <mat-icon>add</mat-icon>
          <span>New</span>
        </button>
        <button mat-raised-button (click)="edit(null)" color="primary" [disabled]="!canEdit()"
                button-click-behaviour>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button id="userDeleteButton" mat-raised-button (click)="delete()" [disabled]="!canEdit()" color="primary"
                button-click-behaviour>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </td>
    </tr>
  </table>
</div>
