<div style="width: 500px">
  <h2 mat-dialog-title>{{formTitle}}</h2>
  <form #editForm="ngForm" (submit)="submitForm()">
    <mat-card>
      <div>
        <mat-select matInput placeholder="Plugin" id="backendfilter_id" name="plugin" [(ngModel)]="entity.backendName" #plugin="ngModel"
                    floatPlaceholder="always" [style.width]="'100%'">
          <mat-option *ngFor="let bName of backendFilterNames" [value]="bName.toString()">
            {{bName.toString()}}
          </mat-option>
        </mat-select>
      </div>

      <div>
        <mat-form-field [style.width]="'100%'">
          <input matInput placeholder="From" name="from" id="from_id" [(ngModel)]="criteria.from" [ngModelOptions]="{updateOn: 'blur'}" #from="ngModel"
                 pattern="[a-zA-Z0-9_:-]+:[a-zA-Z0-9_:-]+" [maxLength]="textMaxLength">
          <span class="help-block" *ngIf="shouldShowErrors(from)">
            <div *ngIf="from.errors?.pattern" style="color:red; font-size: 70%">You should follow the rule: [partyName]:[partyType]</div>
          </span>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field [style.width]="'100%'">
          <input matInput placeholder="To" name="to" id="to_id" [(ngModel)]="criteria.to" [ngModelOptions]="{updateOn: 'blur'}" #to="ngModel"
                 pattern="[a-zA-Z0-9_:-]+:[a-zA-Z0-9_:-]+" [maxLength]="textMaxLength">
          <span class="help-block" *ngIf="shouldShowErrors(to)">
            <div *ngIf="to.errors?.pattern" style="color:red; font-size: 70%">You should follow the rule: [partyName]:[partyType]</div>
          </span>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field [style.width]="'100%'">
          <input matInput placeholder="Action" name="action" id="action_id" [(ngModel)]="criteria.action" [ngModelOptions]="{updateOn: 'blur'}" #action="ngModel"
                 pattern="[a-zA-Z0-9_:-]+" [maxLength]="textMaxLength">
          <span class="help-block" *ngIf="shouldShowErrors(action)">
            <div *ngIf="action.errors?.pattern" style="color:red; font-size: 70%">You should follow the rule : [action]</div>
          </span>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field [style.width]="'100%'">
          <input matInput placeholder="Service" name="service" id="service_id" [(ngModel)]="criteria.service" [ngModelOptions]="{updateOn: 'blur'}" #service="ngModel"
                 pattern="[a-zA-Z0-9_:\\./-]+:[a-zA-Z0-9_:-]+" [maxLength]="textMaxLength">
          <span class="help-block" *ngIf="shouldShowErrors(service)">
            <div *ngIf="service.errors?.pattern" style="color:red; font-size: 70%">You should follow the rule: [serviceName]:[serviceType]</div>
          </span>
        </mat-form-field>
      </div>

      <popup-edit-footer [parent]="this"></popup-edit-footer>

<!--      <div class="edit-form-buttons">-->
<!--        <button id="okbutton_id" mat-raised-button color="primary" [mat-dialog-close]="true" type="submit"-->
<!--                [disabled]="isFormDisabled(editForm)" >-->
<!--          <mat-icon>check_circle</mat-icon>-->
<!--          <span>OK</span>-->
<!--        </button>-->
<!--        <button mat-raised-button color="primary" mat-dialog-close id="cancelbutton_id">-->
<!--          <mat-icon>cancel</mat-icon>-->
<!--          <span>Cancel</span>-->
<!--        </button>-->
<!--      </div>-->

    </mat-card>
  </form>
</div>
