<page-header id="truststoreheader_id">Truststore</page-header>
<div class="panel">
  <div class="selectionCriteria">
    <mat-card>
      <mat-card-content>
        <grid-header [parent]="this"></grid-header>

      <ngx-datatable
        id="errorLogTable"
        class="material striped"
        [rows]="rows"
        [columnMode]="'force'"
        [columns]="columnPicker.selectedColumns"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [loadingIndicator]="loading"
        [selectionType]="'multi'"
        [selected]="selectedMessages"
        [limit]="rowLimiter.pageSize"
        [offset]="offset"
        (page)="onPage($event)"
        [sorts]="[{prop: 'alias', dir: 'desc'}]"
        (activate)="onActivate($event)"
        (select)="onSelect($event)">
      </ngx-datatable>

      <ng-template #rowWithDateFormatTpl let-row="row" let-value="value" ngx-datatable-cell-template>
        <span class="text-select">{{value | domibusDate: dateFormat}}</span>
      </ng-template>

        <table class="group-action-button">
          <tr>
            <td>
              <button mat-raised-button color="primary" (click)="openEditTrustStore()" id="uploadbutton_id" button-click-behaviour>
                <mat-icon>file_upload</mat-icon>
                <span>Upload</span>
              </button>
              <button mat-raised-button color="primary" (click)="downloadCurrentTrustStore()" [disabled]="!canDownload()" id="downloadbutton_id"
                      button-click-behaviour>
                <mat-icon>file_download</mat-icon>
                <span>Download</span>
              </button>
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

