@use '@angular/material' as mat;
@use 'sass:map';
@use 'sass:color';

@function _create-contrast-map($light-keys, $dark-keys) {
  $contrast-map: ();
  @each $key in $light-keys {
    $contrast-map: map.set($contrast-map, $key, #000000);
  }
  @each $key in $dark-keys {
    $contrast-map: map.set($contrast-map, $key, #ffffff);
  }
  @return (contrast: $contrast-map);
}

$harmony-palette: (
  50: #e0e7f3,
  100: #b3c2e0,
  200: #8099cc,
  300: #4d70b8,
  400: #2652a8,
  500: #003399,
  600: #002e91,
  700: #002786,
  800: #00207c,
  900: #00146b,
  A200: #6778ff,
);

$harmony-light-palette: (
  50: #f9fdfe,
  100: #f0fbfc,
  200: #e6f9fb,
  300: #dcf6f9,
  400: #d5f4f7,
  500: #cdf2f6,
  600: #a4eaf0,
  700: #7be2ea,
  800: #52dae4,
  900: #29d2de,
);

$harmony-palette-map: map.merge(
  $harmony-palette,
  _create-contrast-map(
    (50, 100, 200, A200),
    (300, 400, 500, 600, 700, 800, 900)
  )
);

$harmony-light-palette-map: map.merge(
  $harmony-light-palette,
  _create-contrast-map(
    (50, 100, 200, 300, 400, 500),
    (600, 700, 800, 900)
  )
);

$primary-palette: mat.define-palette($harmony-palette-map, 500, 100, 700);
$accent-palette: mat.define-palette($harmony-light-palette-map, 200, 100, 400);
$warn-palette: mat.define-palette(mat.$red-palette);

$harmony-theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    secondary: $accent-palette,
    warn: $warn-palette,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-typographies();
@include mat.core();
@include mat.all-component-themes($harmony-theme);

$size-icon: 20px;
$size-button: 40px;

$primary-50:  mat.get-color-from-palette($primary-palette, 50);
$primary-100: mat.get-color-from-palette($primary-palette, 100);
$primary-400: mat.get-color-from-palette($primary-palette, 400);
$primary-500: mat.get-color-from-palette($primary-palette, 500);

:root {
  --app-bg-color: #FFFFFF;
  --app-primary-50:  #{$primary-50};
  --app-primary-100: #{$primary-100};
  --app-primary-400: #{$primary-400};
  --app-primary-500: #{$primary-500};
  --app-primary-contrast-color: var(--app-bg-color);
  --app-icon-color-muted: rgb(102, 112, 133);
  --app-icon-color-strong: #0f0f0f;

  --mat-option-hover-state-layer-color: var(--app-primary-50);
  --mdc-typography-button-font-weight: 600;
}

.mat-mdc-menu-panel {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.mdc-card {
  --mdc-outlined-card-container-color: transparent;
}

.mat-mdc-checkbox {
  --mdc-checkbox-selected-icon-color: var(--app-primary-100);
  --mdc-checkbox-selected-pressed-icon-color: var(--app-primary-100);
  --mdc-checkbox-selected-focus-icon-color: var(--app-primary-100);
  --mdc-checkbox-selected-hover-icon-color: var(--app-primary-50);
}

.domibusLink,
.searchArea a {
  color: var(--app-primary-500);
}

.searchArea a {
  vertical-align: bottom;
  margin-left: 10px;
}

.searchArea > div {
  font-weight: 500 !important;
}

.domibus-grid-container {
  padding-bottom: 3px;
}

.domibus-page {
  width: 100%;
  padding-inline: 6px;
  padding-left: 0;

  page-header h1 {
    margin-bottom: 0.67em !important;
    font-weight: 600;
  }

  > .group-filter-button {
    margin-block: 15px;
  }
}

.custom-file-upload, .custom-file-upload-inner {
  background-color: var(--app-primary-500) !important;
}

.selectionCriteria {
  margin-left: 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.panel {
  padding: 16px;
}

@mixin active-nav-icon {
  mat-icon {
    opacity: 1;
  }
}

.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-icon-button {
  font-weight: var(--mdc-typography-button-font-weight) !important;
}

.mat-drawer-side.mat-sidenav {
  background-color: var(--app-bg-color);
  box-shadow: none;

  .mat-mdc-button,
  .mat-mdc-raised-button,
  .mat-mdc-icon-button {
    height: $size-button;
    margin-bottom: 4px;
  }

  .mat-mdc-unelevated-button,
  .mat-mdc-raised-button,
  .mat-mdc-outlined-button {
    & > .mat-icon {
      height: $size-icon;
      width: $size-icon;
      margin-right: 12px;
    }
  }

  .mat-mdc-raised-button.mdc-ripple-upgraded--background-focused,
  .mat-mdc-raised-button:not(.mdc-ripple-upgraded):focus {
    box-shadow: none;
  }

  #topLogo {
    height: 55px !important;
    padding: 18px 5px !important;

    img {
      display: block;
      height: 100%;
      width: auto;
      max-height: 100%;
      max-width: 100%;
      margin: auto;
      object-fit: contain;
    }
  }

  .sideNavButton {
    --mdc-protected-button-container-color: transparent;
    --mdc-protected-button-label-text-color: var(--app-icon-color-strong);
    --mat-mdc-button-persistent-ripple-color: var(--app-primary-400);
    --mat-mdc-button-ripple-color: transparent;
    border-radius: 4px;
    text-decoration: none;
    letter-spacing: normal;

    mat-icon {
      opacity: 0.5;

      &[iconpositionend] {
        margin-left: auto;
        margin-right: 0;
      }
    }

    &:hover .mat-mdc-button-persistent-ripple::before {
      opacity: 0.35;
    }

    &.active {
      @include active-nav-icon;
      --mdc-protected-button-container-color: var(--app-primary-400);
      --mdc-protected-button-label-text-color: var(--app-primary-contrast-color);
    }
  }

  .mat-expansion-panel {
    box-shadow: none;
    transition: none;
    margin-inline: auto;
    margin-bottom: 4px;

    .mat-expansion-panel-header {
      --mat-expansion-header-collapsed-state-height: $size-button;
      --mat-expansion-header-expanded-state-height: $size-button;
      --mat-expansion-container-text-color: var(--app-icon-muted);

      .sideNavButton .mat-mdc-button-persistent-ripple {
        display: none;
      }
    }

    .mat-expansion-panel-body {
      padding: 0;
      margin-top: 4px;
    }

    .mat-expansion-indicator {
      height: 24px;
    }

    &.active .mat-expansion-panel-header {
      @include active-nav-icon;
      background-color: var(--app-primary-400);
      --mat-expansion-header-indicator-color: var(--app-primary-contrast-color);
      --mat-expansion-header-hover-state-layer-color: var(--app-primary-400);

      .sideNavButton {
        --mdc-protected-button-label-text-color: var(--app-primary-contrast-color);
      }
    }

    &:not(.active) {
      &:hover {
        .mat-expansion-panel-header {
          background-color: rgba($primary-400, 0.35);
        }
      }
    }
  }

  .collapse-button button {
    --mdc-protected-button-container-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    left: 4px;

    .mat-icon {
      margin-inline: auto;
    }
  }

  .sideNavSubmenu  {
    margin-bottom: 0;

    .sideNavButton:last-child {
      margin-bottom: 0;
    }
  }

  &.menu-expanded {
    width: 270px;

    .sideNavButton,
    .mat-expansion-panel {
      width: calc(100% - 2rem);
    }

    .sideNavSubmenu .sideNavButton {
      width: 100%;
    }

    .mat-expansion-panel-body {
      padding-left: 1rem;
    }
  }

  &.menu-collapsed {
    width: 60px;

    .mat-mdc-button-base > .mat-icon {
      margin-inline: auto;
      display: block;
    }

    .mat-expansion-panel {
      max-width: 50px;

      .mat-expansion-indicator {
        display: none;
      }

      &.active, &.mat-expanded {
        box-shadow: inset 0 0 0 1px rgba($primary-400, 0.35);
      }

      mat-expansion-panel-header {
        margin-right: 0;
      }

      &:not(.active).mat-expanded {
        .mat-expansion-panel-header {
          background-color: rgba($primary-400, 0.35);
        }
      }
    }

    .sideNavSubmenu {
      margin-left: 0 !important;
    }

    .sideNavButton {
      mat-icon {
        opacity: 1;

        &[iconpositionend] {
          display: none;
        }
      }
    }
  }
}

.ngx-datatable {
  &.material {
    &:not(.cell-selection) {
      .datatable-body-row:hover {
        background-color: var(--app-primary-50);

        .datatable-row-group {
          background-color: var(--app-primary-50);
        }
      }
    }

    @each $mode in (single-selection, multi-selection, multi-click-selection) {
      &.#{$mode} {
        .datatable-body-row.active,
        .datatable-body-row.active .datatable-row-group,
        .datatable-body-row.active:hover,
        .datatable-body-row.active:hover .datatable-row-group {
          background-color: var(--app-primary-100);
        }
      }
    }
  }

  &#pageGridId {
    width: auto !important;
  }
}
