<div style="height: calc(100% - 15px);">
  <page-header id="loggingheader_id">Logging</page-header>

  <div class="selectionCriteria">
    <mat-card>
      <mat-card-content>

        <div class="panel">
          <form name="filterForm" #filterForm="ngForm" (ngSubmit)="tryFilter()">

            <mat-form-field>
              <input matInput placeholder="Package or class name" name="packageClassName"
                     [(ngModel)]="filter.loggerName" #loggerName="ngModel" id="loggerName_id"
                     width="40px" tooltip="Enter here the package name e.g. 'eu.domibus' or 'ROOT' or part of the name">
            </mat-form-field>
            <mat-checkbox name="showClasses" [(ngModel)]="filter.showClasses" #showClasses="ngModel"
                          id="showClasses_id">
              Show Classes
            </mat-checkbox>

            <div class="searchArea" style="position: relative;">

              <filter-area-footer [parent]="this" [isAdvancedVisible]="false" [form]="filterForm"></filter-area-footer>

              <button mat-raised-button color="primary" id="resetbutton_id" (click)="resetLogging()"
                      style="position: absolute;right: 0;top: 0;"
                      tooltip="Click to reset logging configuration"
                      type="button">
                <mat-icon>cached</mat-icon>
                <span>Reset</span>
              </button>

            </div>
          </form>

        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="panel" style="height: calc(100% - 140px);">
    <div class="group-filter-button">
    <span class="row-button">
      <app-row-limiter [pageSizes]="rowLimiter.pageSizes"
                       (onPageSizeChanged)="changePageSize($event.value)"></app-row-limiter>
    </span>
    </div>

    <div style="height: calc(100% - 70px); overflow-y: auto; overflow-x: hidden;">
      <page-grid [parent]="this" [selectionType]="'multi'"></page-grid>
    </div>

    <ng-template #rowWithToggleTpl let-row="row" let-value="value" ngx-datatable-cell-template>
      <mat-button-toggle-group [name]="row.name" (ngModelChange)="onLevelChange($event, row)" [(ngModel)]="row.level">
        <mat-button-toggle *ngFor="let level of levels" [value]="level">
          {{level}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </ng-template>
  </div>
</div>
