#custom-file-upload {
  display: none;
}

.invalid {
  color: red;
  border-bottom: 1px solid red;
  padding-bottom: 3px;
}

.invalid::after {
  content: " *";
  color: red;
}

.edit-form-buttons button {
  margin-right: 10px;
  margin-top: 10px;
}

.mat-dialog-title {
  margin-bottom: 0 !important;
}

.edit-form-buttons {
  margin-top: 10px;
}
