  <h2 mat-dialog-title>{{formTitle}}</h2>

  <mat-dialog-content style="height:auto;width:550px">
    <mat-card>
      <mat-card-content>
        <div *ngIf="backendConnectors" class="domibus-grid-container">
          <ngx-datatable
            class="material striped"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="backendConnectors"
            [selected]="selected"
            id="pageGridId">
            <ngx-datatable-column name="Plugin Name" prop="name" minWidth="350" [sortable]="true">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row" >
                    <span class="justified, clickable" style="word-wrap: break-word;">
                      {{value}}
                    </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Enabled" prop="active"  maxWidth="160" [sortable]="false" width="100">
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                <mat-slide-toggle [(ngModel)]="row.active" (change)="toggleActive(row)" style="margin-left: 20px;"></mat-slide-toggle>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="edit-form-buttons">
      <button mat-raised-button color="primary" type="submit" (click)="dialogRef.close(true)">
        <mat-icon>check_circle</mat-icon>
        <span>Exit</span>
      </button>
    </div>
  </mat-dialog-actions>

